---
layout: page
title: Portfolio
permalink: /portfolio
---
<!-- blog -->
<section class="section">
  <div class="container">
    <h2 class="section-title font-head text-black mb-5" style="margin-top: 20px; margin-bottom: 0px; padding-bottom: 0px;">Active Gigs</h2>
    <div class="row">
      {% for post in site.posts %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
<!-- portfolio -->
<section class="section">
  <div class="container">
    <h2 class="section-title font-head text-black mb-5" style="margin-top: 20px; margin-bottom: 0px; padding-bottom: 0px;">Ongoing Projects</h2>
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        <div class="position-relative rounded hover-wrapper">
          <picture class="rounded card-img-top">
            <source data-srcset="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.webp" type="image/webp" >
            <source data-srcset="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.jpg" type="image/jpeg" > 
            <img src="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}-thumb.jpg" alt="{% if item.alt %}{{ item.alt }}{% else %}portfolio-image{% endif %}" class="img-fluid rounded w-100 d-block lazyload" data-src="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.jpg" />
          </picture>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}"  target="_blank"  rel="noopener noreferrer" >{% if item.name %}{{ item.name }}{% else %}Visit Project{% endif %}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->

<!-- clients -->
<!-- <section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section> -->
<!-- /clients -->
