---
layout: default
---

{% include hero-section.html %}

<a name="about"></a>
{% include about-section.html %}

<a name="skills"></a>
{% include skills-section.html %}

<a name="education"></a>
{% include education-section.html %}

<a name="services"></a>
{% include services-section.html %}

<a name="gigs"></a>
{% include blog-section.html %}

<a name="portfolio"></a>
{% include portfolio-section.html %}

<a name="testimonial"></a>
{% include testimonial-section.html %}

{% comment %} 
{% include client-section.html %}
{% endcomment %}
