<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h3 class="font-secondary">Well Hello There!</h3>
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
          <div style="display:flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
            <a href="#services" style="border-radius: 5px 0 0 5px; " class="btn btn-sm btn-primary">Services</a>
            <a href="#gigs" style="border-radius: 0; padding-left: 30px; padding-right: 30px;"  class="btn btn-sm btn-primary">Open Gigs</a>
            <a href="#portfolio" style="border-radius: 0 5px 5px 0;"  class="btn btn-sm btn-primary">Portfolio</a>
          </div>
          <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.small-blurb }}</p>
      </div>
    </div>
  </div>
  <hr class="sep-2"  />
</section>
<!-- /about -->
