<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title font-head">Active Gigs and Projects</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
