<!-- contact -->
<style type="text/css">
    .gig-contact-input{text-indent: 10px;}
    .form-label{margin-bottom: 0px; padding-bottom: 0px; color: #555; padding-left: 10px;}
</style>
<a name="contact"></a>
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title  font-head">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80 font-secondary" style="font-size: 20pt; line-height: 20pt;">Get in Touch</h4>
          <form target="_blank" action="https://formsubmit.co/soumyadeep.das.phy14@itbhu.ac.in" method="POST" class="row">
            <input type="hidden" name="_template" value="table">
            <input type="hidden" name="_subject" value="New Response from Website">
            <div style="text-align: left;"  class="col-md-6">
            <label for="name" class="form-label">Name</label>
              <input type="text" id="name" name="name" placeholder="John Wick" class="form-control px-0 mb-4 gig-contact-input">
            </div>
            <div style="text-align: left;"   class="col-md-6">
            <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" placeholder="yourdoglovesme@babayaga.com" class="form-control px-0 mb-4 gig-contact-input">
            </div>
            <input type="hidden" name="_next" value="https://soumyadeepio.gitlab.io/thanks">
            <input type="hidden" name="_autoresponse" value="Thanks for the mail, I will get back to you in a jiffy! ^Soumyadeep">
            <div style="text-align: left;"   class="col-12">
            <label for="message" class="form-label">Your Message</label>
            <textarea name="message" id="message" class="form-control px-0 mb-4 gig-contact-input"
                placeholder="Tell me what you are looking for. Or just drop a hi :)"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

