{% if site.data.settings.education %}
<!-- education -->
<section class="section position-relative testimonial-bg-shapes" style="background-color: #C2185B;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #fff;" class="section-title font-head">{{ site.data.settings.education-title }}</h2>
      </div>
      {% for education in site.data.settings.education %}
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3" aria-label="Soumyadeep graduated from {{education.organization}} and will join as a PhD at ICRAR, Australia">
            <i class="ti-medall icon icon-dark icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p  style="color: #fff; font-size: 12pt;"  class="mb-1 ">{{ education.date }}</p>
            <h4  style="color: #fff; line-height: 21pt;" class="font-secondary" >{{ education.name }}</h4>
            <p  style="color: #fff; font-size: 12pt;"  class="mb-0 ">{{ education.organization }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png" alt="bg-image">
  <!-- bg shapes -->
  <picture>
    <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.webp" type="image/webp" >
    <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.png" type="image/png" > 
    <img alt="map" data-src="{{ site.baseurl }}/assets/images/backgrounds/map.png"  class="img-fluid bg-map lazyload" />
  </picture>
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" style="margin-top: 130px;" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
</section>
<!-- /education -->
{% endif %}
