<!-- footer -->
<style type="text/css">
  .footer-txt-head {font-size: 16pt; }
  .footer-txt-body {font-size: 18pt; }
  @media screen and (max-width: 600px) {
   .footer-txt-head {font-size: 11pt; }
   .footer-txt-body {font-size: 12pt; }
 }
  @media screen and (max-width: 800px) {
   .footer-txt-head {font-size: 13pt; }
   .footer-txt-body {font-size: 14pt; }
 }
</style>
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="mailto:{{ site.data.settings.email }}">
          <h5 class="text-light footer-txt-head font-head">Email</h5>
          <p class="text-white paragraph-lg font-body footer-txt-body">{{ site.data.settings.email-display }}</p>
        </a>
        </div>
        <div class="col-md-4">
          <a href="tel:{{ site.data.settings.phonecall }}">
          <h5 class="text-light font-head footer-txt-head">Phone</h5>
          <p class="text-white paragraph-lg font-body footer-txt-body">{{ site.data.settings.phone }}</p>
        </a>
        </div>
        <div class="col-md-4">
          <a href="https://www.google.com/maps/search/rajvanshipara,+phuleswar/@22.4775464,88.1132164,17z/data=!3m1!4b1"   target="_blank"  rel="noopener noreferrer" >
          <h5 class="text-light  font-head footer-txt-head">Address</h5>
          <p class="text-white paragraph-lg font-body footer-txt-body">{{ site.data.settings.address }}</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5" >
    <p class="text-light" >{{site.data.settings.copyright}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}"></script>
