<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}">
        {% else if %}
        <h3 class="text-white font-tertiary" ><span style="font-family: 'Lucida Console', monospace; margin-right: 10px;">das</span><span style="font-family: 'Lucida Console', monospace; border-radius: 10px; background-color: #fff; color: #41228e; padding-left: 10px; padding-right: 10px; font-weight: 700;">I/O</span></h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        {% for link in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link font-head" href="{{ link.link }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
