<style type="text/css">
    @media screen and (max-width: 800px) { 
      .header-logo{font-size: 20pt; padding-top: 10px; border-radius: 7px;}
    }
    @media screen and (max-width: 600px) { 
      .header-logo{font-size: 17pt; padding-top: 10px; border-radius: 3px;}
    }
</style>
<header class=".navigation-fixed fixed-top nav-bg" style="background-color: #001850;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
        <img src="{{ site.data.settings.logo | absolute_url }}" alt="{{ site.data.settings.title }}">
        {% else if %}
        <h3 class="text-white font-tertiary header-logo" ><span style="font-family: 'Lucida Console', monospace; margin-right: 10px;">das</span><span style="font-family: 'Lucida Console', monospace; border-radius: 10px; background-color: #fff; color: #001850; padding-left: 10px; padding-right: 10px; font-weight: 700;">I/O</span></h3>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        {% for link in site.data.settings.menu %}
          <li class="nav-item {{ class }}">
            <a class="nav-link font-head" href="{{ link.link }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
