<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %} | Web Design and Development by Soumyadeep Das</title>
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.data.settings.og-image | absolute_url  }}{% endif %}">
  <meta property="og:type" content="article">


  <meta name="ahrefs-site-verification" content="569809af3d0627cb66bac3911b3dcec9793477e0d3f2ade96b4099f0bac88833">

  <meta property="twitter:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.data.settings.og-image | absolute_url  }}{% endif %}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description  }}{% else %}{{site.data.settings.description}}{% endif %}">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="{{site.data.settings.baseurl}}{{page.permalink}}"/>
  

  <!-- Critical CSS -->
  <style type="text/css">
    body{line-height:1.2;font-family:"Fira Sans","Helvetica",sans-serif;-webkit-font-smoothing:antialiased;font-size:15px;color:#2c2c2c}p{font-weight:400;color:#2c2c2c;font-size:13pt;line-height:1.5;font-family:"Fira Sans","Helvetica",sans-serif}.paragraph-lg{font-size:15pt}h1,h3{color:#000;font-weight:700;font-family:"Open Sans","Roboto",sans-serif;line-height:1.2}h1{font-size:80px}@media (max-width:991px){h1{font-size:65px}}h3,.h3{font-size:40px}body{background-color:#fff;overflow-x:hidden}ul{list-style-type:none;margin:0px}img{vertical-align:middle;border:0}a{text-decoration:none}.section{padding-top:40px;padding-bottom:60px}.bg-primary{background:#31328e!important}.text-dark{color:#000!important}.zindex-1{z-index:1}.font-head{font-family:"Source Sans Pro","Roboto",sans-serif!important;font-weight:600}.font-secondary{font-family:"Playfair Display",serif!important;font-weight:400;line-height:2.0}.font-tertiary{font-family:"Open Sans","Roboto",sans-serif!important}.glow-on-hover{width:220px;height:50px;border:none;outline:none;color:#fff;background:linear-gradient(-30deg,#FFA000 50%,#FF6F00 50%);position:relative;z-index:0;border-radius:10px}.glow-on-hover:before{content:'';background:linear-gradient(45deg,red,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,red);position:absolute;top:-2px;left:-2px;background-size:400%;z-index:-1;filter:blur(5px);width:calc(100% + 4px);height:calc(100% + 4px);animation:glowing 20s linear infinite;opacity:0;border-radius:10px}.glow-on-hover:after{z-index:-1;content:'';position:absolute;width:100%;height:100%;background:linear-gradient(-30deg,#FFA000 50%,#FF6F00 50%);left:0;top:0;border-radius:10px}@keyframes glowing{0%{background-position:0 0}50%{background-position:400% 0}100%{background-position:0 0}}.navigation{padding:40px 130px;z-index:10000}@media (max-width:991px){.navigation{padding:20px;background:#31328e}}.navbar .nav-item .nav-link{font-family:"Open Sans","Roboto",sans-serif;text-transform:uppercase;padding:15px}.navbar .nav-item.active{font-weight:bold}.navbar-dark .navbar-nav .nav-link{color:#fff}.hero-area{padding:300px 0 200px;position:relative}@media (max-width:767px){.hero-area{padding:250px 0 150px;overflow:hidden}}.hero-area h1{position:relative;z-index:2}.layer{position:absolute;z-index:1}#l2{top:190px;left:-250px}#l3{top:200px;left:40%}#l4{top:200px;right:40%}#l5{top:100px;right:-150px}#l6{bottom:-20px;left:10%}#l7{bottom:100px;left:20%}#l8{bottom:160px;right:45%}#l9{bottom:100px;right:-10px}.layer-bg{position:absolute;bottom:0;left:0}
  </style>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Fira+Sans:400,500,600|Source+Sans+Pro:400,600,700|Playfair+Display:500,600&display=swap" rel="stylesheet" media="print" onload="this.media='all'">


  {% if site.author %}
  <meta name="author" content="{{ . }}">
  {% endif %}
  
  <!-- ** Plugins Needed for the Project ** -->

  <link rel="stylesheet preload prefetch" href="/assets/plugins/themify-icons/themify-icons.css" as="style" crossorigin="anonymous">
  {% for css in site.data.plugins.css %}
  <link rel="stylesheet" href="{{ css | relative_url }}" media="print" onload="this.media='all'">
  {% endfor %}

  <!-- Main Stylesheet -->
  <link href="{{ '/assets/scss/style.css' | relative_url }}" rel="stylesheet" media="print" onload="this.media='all'">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">
  <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">

  {% seo %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5W856FKQ7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q5W856FKQ7');
  </script>


</head>
