<!-- hero area -->
<style type="text/css">
  .banner-txt {font-size: 4em;}
  @media screen and (max-width: 1080px) { .banner-txt {font-size: 3.6em; }}
  @media screen and (max-width: 800px) { .banner-txt {font-size: 3.2em; }}
  @media screen and (max-width: 600px) { .banner-txt {font-size: 2.7em; }}
  @media screen and (max-width: 400px) { .banner-txt {font-size: 2.1em; }}
  .banner-txt a{color: #fff; text-decoration: underline;}
  .banner-txt a:hover{color: #ff9e2b;}
  .button-round{
    cursor: pointer; text-decoration: none;color: #002; background-color: #0000; z-index: 9999;  
    width: 50px; height: 50px; align-content: center;  text-align: center; vertical-align: middle; padding-top: 8px;
    position: absolute; left: 45%; bottom: 30%; text-transform: uppercase; font-weight: 500; font-size: 21pt; transform: rotate(90deg);
  }
  .button-round:hover{background-color: #fff2; color: #fff; text-decoration: none;}
  .emphasis-text {background-color: #AAF0D199;}

</style>
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary banner-txt">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>

  <a href="#about" class="button-round head-font glow-on-hover" type="button">&#10132;</a>


  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1" style="font-size: 13pt;">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"  target="_blank"  rel="noopener noreferrer" title="{{social.name}} profile - Soumyadeep Das" aria-label="{{social.name}} profile - Soumyadeep Das" ><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->

</section>
<!-- /hero area -->
