{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title font-head">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <picture class="rounded card-img-top">
            <source data-srcset="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.webp" type="image/webp" >
            <source data-srcset="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.jpg" type="image/jpeg" > 
            <img src="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}-thumb.jpg" alt="{% if item.alt %}{{ item.alt }}{% else %}portfolio-image{% endif %}" class="img-fluid rounded w-100 d-block lazyload" data-src="{{ site.baseurl }}/assets/images/portfolio/{{item.image}}.jpg" />
          </picture>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}" aria-label={{item.alt}}  {% if item.external-link %}target="_blank"  rel="noopener noreferrer"{% endif %} >{% if item.name %}{{ item.name }}{% else %}Visit Project{% endif %}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}
