<style type="text/css">
  .active-gig{ border-radius: 5px; padding-top: 15px; background-color: #fff;}
  .active-gig:hover{ border-radius: 5px; padding-top: 15px; background-color: #fff;  box-shadow: 2px 2px 4px 2px #0001;}
</style>
<div class="col-lg-4 col-sm-6 mb-4 active-gig"  style=" background-color: #fff; ">
  <a class="text-dark" href="{{ post.url | relative_url }}" aria-label="Go to gig {{post.title}}">
  <article class="card shadow">
    <picture class="rounded card-img-top">
      <source data-srcset="{{ site.baseurl }}/assets/images/gigs/{{post.image}}.webp" type="image/webp" >
      <source data-srcset="{{ site.baseurl }}/assets/images/gigs/{{post.image}}.jpg" type="image/jpeg" > 
      <img class="rounded card-img-top lazyload" src="{{ site.baseurl }}/assets/images/gigs/{{post.image}}-thumb.jpg" alt="{{ post.detail-title }} by Soumyadeep Das" data-src="{{ site.baseurl }}/assets/images/gigs/{{post.image}}.jpg" />
    </picture>
    <div class="card-body">
      <h4 class="card-title font-secondary" style="line-height: 17pt;" >
        {{ post.title }}
      </h4>
      <p class="card-text">{% assign curlyend = '}' %}{{ post.description | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p>
      <a href="{{ post.url | relative_url }}" class="btn btn-xs btn-primary" style="margin-top: 10px;" aria-label="Visit active gig {{post.title}}">View This Gig</a>
    </div>
  </article>
  </a>
</div>
