{% if site.data.settings.services %}
<!-- services -->
<style type="text/css">
  .yellow-style{ background-color: #FFA726; cursor: default;}
  .yellow-style:hover{ background-color: #FFCA28; }
  .blue-style{ background-color: #36D6EA;  cursor: default;}
  .blue-style:hover{ background-color: #80DEFA; }
  .green-style{ background-color: #7CB342;  cursor: default;}
  .green-style:hover{ background-color: #9CCC65; }
</style>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title font-head">{{ site.data.settings.services-title }}</h2>
      </div>
      {% for service in site.data.settings.services %}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body {% if service.active %}active-bg-primary{% endif %} text-center px-4 py-5 {{ service.hoverstyle }}">
            <i class="{{ service.icon }} icon mb-5 d-inline-block"></i>
            <h4 class="mb-4 font-secondary" style="line-height: 18pt;">{{ service.name }}</h4>
            <p style="font-size: 12pt;">{{ service.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
</section>
<!-- /services -->
{% endif %}
