{% if site.data.settings.skills %}
<!-- skills -->
<style type="text/css">
  .card-details{margin-top: -5px; padding-top: 0px;}
</style>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title font-head" style="margin-top: 10px;">{{ site.data.settings.skills-title }}</h2>
      </div>
      {% for skill in site.data.settings.skills %}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div aria-label="Soumyadeep das is proficient in {{ skill.name }} - covering {{ skill.details }}" class="position-relative rounded-top progress-wrapper" data-color="{{ skill.color }}">
            <div class="wave" data-progress="{{ skill.value | times:10 }}"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title font-secondary" style="font-weight: 500; font-size: 14pt; line-height: 15pt;">{{ skill.name }}</h4>
            <p class="card-title card-details" style="font-size: 12pt;">{{ skill.details }}</p>
            <p class="card-title card-details" style="font-size: 12pt;">{{ skill.value }}/10</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /skills -->
{% endif %}
