{% if site.data.settings.testimonial-items %} 
<!-- testimonial --> 
<section class="section bg-primary position-relative testimonial-bg-shapes">   
    <div class="container">     
        <div class="row">       
            <div class="col-12 text-center">         
                <h2 class="section-title font-head text-white mb-5">Testimonials
                </h2>       
            </div>       
            <div class="col-lg-10 mx-auto testimonial-slider">         
                {% for testimonial-item in site.data.settings.testimonial-items %}         
                <!-- slider-item -->         
                <div class="text-center testimonial-content">           
                    <i class="ti-quote-right text-white icon mb-4 d-inline-block">
                    </i>           
                    <p class="text-white mb-4">{{ testimonial-item.content }}
                    </p>            
                    <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{ site.baseurl }}/assets/images/testimonial/{{testimonial-item.image}}.jpg" alt="{{ testimonial-item.image-alt }}" />                      
                    <h4 class="text-white font-secondary" style="line-height: 1.2;">{{ testimonial-item.name }}
                    </h4>           
                    <p class="text-white mb-4 font-secondary" style="line-height: 1.2;">{{ testimonial-item.designation }}
                    </p>           
                    <ul class="text-white mb-4" style="align-items: center; text-align: center; width: auto; margin-left: -30px;">             
                        {% for social in testimonial-item.social %}               
                        <li class="mb-3" style="display: inline; margin-right: 10px;">
                            <a class="text-white" href="{{ social.link }}"  target="_blank"  rel="noopener noreferrer" aria-label="{{testimonial-item.name}} {{social.name}} Profile" title="{{testimonial-item.name}} {{social.name}} Profile"  >
                                <i class="{{ social.icon }}">
                                </i>
                            </a>
                        </li>             
                        {% endfor %}           
                    </ul>         
                </div>         
                {% endfor %}       
            </div>     
        </div>   
    </div>   
    <!-- bg shapes -->     
    <picture>       
        <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.webp" type="image/webp" >       
            <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.png" type="image/png" >       
                <img alt="map" data-src="{{ site.baseurl }}/assets/images/backgrounds/map.png"  class="img-fluid bg-map lazyload" />     
            </picture>   
            <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1">   
            <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2">   
            <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">   
            <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape" class="img-fluid bg-shape-4">   
            <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5"> 
        </section> 
        <!-- /testimonial --> 
        {% endif %}
