{% if site.data.settings.work-process %}
<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Work Process</h2>
      </div>
      {% for work in site.data.settings.work-process %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ work.icon | relative_url }}" class="mb-4" alt="icon">
        <h4 class="mb-4 font-secondary" style="line-height: 1.2;">{{ work.title }}</h4>
        <p style="font-size: 11pt;">{{ work.content | markdownify }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./Work Process -->
{% endif %}
