/*  typography */

body {
  line-height: 1.2;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 13pt;
  line-height: 1.5;
  font-family: $body-font;
  &-lg{
    font-size: 15pt;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-weight: 700;
  font-family: $tertiary-font;
  line-height: 1.2;
}

h1, .h1{
  font-size: 80px;
  @include desktop {
    font-size: 65px;
  }
}

h2, .h2{
  font-size: 60px;
  @include desktop {
    font-size: 50px;
  }
}

h3, .h3{
  font-size: 40px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 14px;
}
