// Color Variables
$primary-color: #31328e;
$link-color: #304FFE;
$accent-color: #D81B60;
$primary-color-dark: #212121;
$secondary-color: #4CAF50;
$text-color: #2c2c2c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$body-font: 'Fira Sans','Helvetica', sans-serif;
$font-body: 'Fira Sans','Helvetica', sans-serif;
$head-font: 'Source Sans Pro','Roboto', sans-serif;
$font-head: 'Source Sans Pro','Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$font-secondary: 'Playfair Display', serif;
$tertiary-font: 'Open Sans','Roboto', sans-serif;
$font-tertiary: 'Open Sans','Roboto', sans-serif;
$icon-font: 'themify';
