---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <style type="text/css">
    .thanks-head{color: #fff; text-align: center; font-size: 3.2em;}
    @media screen and (max-width: 600px) { .thanks-head {font-size: 2.4em; }}
    .thanks-body{color: #fff; text-align: center; font-size: 16pt; line-height: 20pt;}
    @media screen and (max-width: 600px) { .thanks-body {font-size: 14pt; line-height: 17pt;}}
</style>

<section class="page-title bg-primary position-relative" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white font-tertiary thanks-head">Thanks for the mail!</h2>
        <h4 class="font-secondary thanks-body"><br>I will get back to you as fast as I can!</h4>
        <h4 class="font-secondary thanks-body">You can always reach me at <a style="text-decoration: none; color: #FDD835;" href="tel:{{ site.data.settings.phonecall }}" title="Call us">{{site.data.settings.phone}}</a>.</h4><br>
        <h4 class="font-secondary thanks-body">Return <a style="color: #FDD835;" href="/">Home</a>, or browse through the <a style="color: #FDD835;" href="/portfolio/">portfolio</a>.</h4>.
    </div>
</div>
</div>
<!-- background shapes -->
<img src="{{ site.baseurl }}/assets/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
<img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
<img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
<img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
<img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="illustrations" class="bg-shape-5">
<img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
</section>


{% include footer-posts.html %}

</body>

</html>
