---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <style type="text/css">
    .form-label{margin-bottom: 0px; padding-bottom: 0px; color: #555; padding-left: 10px;}
    .gig-title{margin-top: 0px; margin-bottom: 0px; padding-bottom: 5px;}
    .gig-highlights{display: inline; width: 30%; padding: 10px; margin-right: 20px; margin-top: 70px;}
    .gig-highlights-inline{display: none; width: 100%; padding: 10px; }
    .gig-highlights-content{border: 2px solid #ddd; border-radius: 2px; padding: 20px;}
    .gig-content{display: flex; padding: 10px;}
    .gig-detail{display: inline; width: 68%;}
    .gig-sep-br{display: none;}
    .post-image{height: 45vw;}
    .tag-container{margin-top: 30px; margin-bottom: 0px;}
    .tag-btn{border-radius: 3px; background-color: #ddd; color: #333; margin-right: 5px; padding: 2px 10px 2px 10px;}
    .slick-dots { position: absolute; bottom: 60px; margin-bottom: 0px; padding-bottom: 0px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
    .gig-highlights-ul{list-style: none;}
    .quote-button{padding: 10px 30px 10px 30px; background-color: #296; text-transform: uppercase; font-size: 15pt; color: #fff; border-radius: 2px; width: 100%; margin-top: 15px; margin-bottom: 0px;}
    .quote-button:hover{background-color: #174}
    .link-button{border-radius: 3px; border: 1px solid #4a8; color: #4a8; padding: 1px 6px 2px 6px; font-size: 11pt; font-weight: 600; background-color: #fff0; }
    .link-button:hover{background-color: #4a8; color: #fff;}
    .post-content ul{line-height: 14pt; font-size: 12pt;}
    .post-content ul>li{line-height: 14pt; font-size: 12pt; margin-left: -20px;}
    .post-content p{line-height: 14pt; font-size: 12pt;}
    .post-content h3{line-height: 22pt; font-size: 21pt; margin-top: 30px;}
    .gig-contact-input{text-indent: 10px;}
    .gig-contact-container{justify-content: center; width: 60%;}

    @media screen and (max-width: 1100px) { 
      .gig-sep-br{display: block;}
      .gig-title{font-size: 33pt;}
      .gig-highlights{margin-right: 10px;}
      .gig-contact-head{font-size: 26pt;}
    }
    @media screen and (max-width: 950px) {
      .quote-button{font-size: 11pt; padding: 4px 20px 4px 20px; }
      .gig-title{font-size: 27pt;}
      .gig-contact-head{font-size: 21pt;}
      .gig-contact-input{font-size: 11pt; padding-top: 2px; padding-bottom: 0px;}
    }
    @media screen and (max-width: 840px) { 
      .post-content ul{line-height: 12pt; font-size: 11pt;}
      .post-content ul>li{line-height: 12pt; font-size: 11pt; margin-left: -10px;}
      .post-content p{line-height: 12pt; font-size: 11pt;}
      .post-content h3{line-height: 17pt; font-size: 16pt; margin-top: 20px;}
      .gig-title{font-size: 21pt;}
      .gig-highlights{display: none;}
      .gig-content{display: block; padding: 10px;}
      .gig-highlights-inline{display: block; width: 100%;}
      .gig-detail{display: block; width: 100%;}
      .gig-contact-container{justify-content: center; width: 100%;}
      .gig-contact{justify-content: center; width: 100%; padding: 10px;}
      .gig-contact-head{font-size: 17pt;}
    }
  </style>

  {% include header-fixed.html %}
  <!-- page title -->

  <!-- /page title -->

  <section class="section" style="margin-top: 50px;">
    <div class="gig-content">
      <div class="container gig-detail">
        <p class="tag-container">{% for tag in page.tags %}
          <span class="tag-btn">{{ tag }} </span>
        {% endfor %}</p>
        <h2 class="font-head gig-title">{{ page.title | escape }}</h2>
        <p style="margin-top: 5px;" class="font-head">
          <i style="margin-right: 10px;" class="ti-user"></i><a target="_blank"  rel="noopener noreferrer"  style="margin-right: 30px;" href="{{ site.data.settings.fiverr-ulink }}" class="text-primary">{{ site.data.settings.fiverr-uname }}</a>
          <i style="margin-right: 10px;" class="ti-calendar"></i> {{ page.date | date: '%b %d, %Y' }}</p>

          <div class="content font-body post-content">
            {% assign slides = page.image-slides | split: ", "  %}
            <div class="post-slider" id="post-slider">
              {% for slide in slides %}
              <div>
                <picture class="rounded card-img-top">
                  <source data-srcset="{{ site.baseurl }}/assets/images/gigs/{{slide}}.webp" type="image/webp" >
                  <source data-srcset="{{ site.baseurl }}/assets/images/gigs/{{slide}}.jpg" type="image/jpeg" > 
                  <img src="{{ site.baseurl }}/assets/images/gigs/{{slide}}-thumb.jpg" alt="{{ page.description }}" data-src="{{ site.baseurl }}/assets/images/gigs/{{slide}}.jpg"  class="post-image lazyload" />
                </picture>
              </div>
              {% endfor %}
            </div>
            <h4><a href="{{page.fiverr-url}}" aria-label="{{page.detail-title}} - active gig at fiverr by {{page.fiverr-uname}}"  target="_blank"  rel="noopener noreferrer" style="font-size: 14pt; " class="link-button font-head">Check out this gig at Fiverr.</a></h4>
            {{ content }}
            <div class="gig-highlights-inline">
              <div class="gig-highlights-content">
                <h4 class="font-head">Gig Summary&nbsp;&nbsp;<br class="gig-sep-br"><a target="_blank"  rel="noopener noreferrer"  href="{{ page.fiverr-url }}" class="link-button font-head">View gig in Fiverr</a></h4>
                <p style="line-height: 15pt;">{{page.description}}</p>
                <h5 class="font-head" style="font-size: 13pt;"><i class="ti-time" style="color: #555; font-size: 12pt; "></i>&nbsp;&nbsp;{{ page.delivery }}&nbsp;&nbsp;&nbsp;&nbsp;<br class="gig-sep-br">
                  <i class="ti-back-right" style="color: #555; font-size: 12pt; "></i>&nbsp;&nbsp;{{ page.revisions }}
                </h5>
                {% assign highlights = page.card-highlights | split: ", "  %}
                {% for highlight in highlights %}
                &nbsp;&nbsp;<i class="ti-check" style="color: #296; font-weight: 700; "></i>&nbsp;&nbsp;{{highlight}}<br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="gig-highlights">
          <div class="gig-highlights-content">
            <h4 class="font-head">Gig Summary&nbsp;&nbsp;<br class="gig-sep-br"><a target="_blank"  rel="noopener noreferrer"  href="{{ page.fiverr-url }}" class="link-button font-head">View gig in Fiverr</a></h4>
            <p style="line-height: 15pt;">{{page.description}}</p>
            <h5 class="font-head" style="font-size: 13pt;"><i class="ti-time" style="color: #555; font-size: 12pt; "></i>&nbsp;&nbsp;{{ page.delivery }}&nbsp;&nbsp;&nbsp;&nbsp;<br class="gig-sep-br">
              <i class="ti-back-right" style="color: #555; font-size: 12pt; "></i>&nbsp;&nbsp;{{ page.revisions }}
            </h5>
            {% assign highlights = page.card-highlights | split: ", "  %}
            {% for highlight in highlights %}
            &nbsp;&nbsp;<i class="ti-check" style="color: #296; font-weight: 700; "></i>&nbsp;&nbsp;{{highlight}}<br>
            {% endfor %}
            <a href="#gigcontact" class="quote-button btn btn-xs btn-primary font-tertiary">Get A Quote</a><br>

          </div>
        </div>
      </div>
    <a name="gigcontact"></a>
    </section>


    <section class="section position-relative testimonial-bg-shapes" style="background-color: #00ACC177; justify-content: center;">
      <div class="container gig-contact-container">
        <div class="gig-contact">
          <h3 class="gig-contact-head font-secondary">Interested? Get a Quote.</h3>
          <form target="_blank" action="https://formsubmit.co/soumyadeep.das.phy14@itbhu.ac.in" method="POST" class="row">
            <input type="hidden" name="_template" value="table">
            <input type="hidden" name="_subject" value="New Quote for Gig {{page.gig-id}} - {{page.title}}">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Your Name" class="form-control px-0 mb-4 gig-contact-input">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Your Email" class="form-control px-0 mb-4  gig-contact-input">
            </div>
            <input type="hidden" name="_next" value="https://soumyadeepio.gitlab.io/thanks">
            <input type="hidden" name="_autoresponse" value="Thanks a lot for your interest in my gig, I will get back to you in a jiffy! ^Soumyadeep">
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4  gig-contact-input"
              placeholder="Queries, suggestions, or special requirements."></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
      <!-- bg image -->
      <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/education-bg.png" alt="bg-image">
      <!-- bg shapes -->
        <picture>
          <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.webp" type="image/webp" >
          <source data-srcset="{{ site.baseurl }}/assets/images/backgrounds/map.png" type="image/png" > 
          <img alt="map" data-src="{{ site.baseurl }}/assets/images/backgrounds/map.png"  class="img-fluid bg-map lazyload" />
        </picture>
      <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" style="margin-top: 150px;" alt="bg-shape" class="img-fluid bg-shape-1">
      <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
    </section>

    {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

    <hr class="sep-2"  />
    <!-- blog -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="section-title font-head">Active Gigs</h2>
          </div>
          {% for post in site.posts offset:0 limit:3 %}
          {% include post.html %}
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- /blog -->

    {% include footer-posts.html %}

  </body>

  </html>
